{% extends "base.html" %}

{% block title %}{{ site.title }}{% endblock %}

{% block content %}

{% for entry in archive[:15] %}

  <article>
    <header>
      <time datetime="{{ entry.date }}">{{ entry.date.date() }}</time>
      <div>
      <h2><a href="{{ entry.dst }}">{{ entry.title }}</a></h2>
      {% if entry.description %}
      <p>— {{ entry.description }}</p>
      {% endif %}
      </div>
    </header>
  </article>

{% endfor %}

<p><a href="/archive.html">all articles...</a></p>

{% endblock %}
