build==1.2.2.post1
mkdocs==1.6.1
mkdocs-material==9.5.43
mkdocstrings[python]==0.26.2
twine==5.1.1
wheel==0.44.0
pytest==8.3.3
pytest-cov==6.0.0
ruff==0.7.2
mypy==1.13.0
types-markdown==3.7.0.20240822
