<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="stylesheet" href="/style.css" type="text/css">
    <link rel="stylesheet" href="/code.css" type="text/css">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <h1>Still don't have a title</h1>
      <h2>-- and no tagline either</h2>
      <h3>Bastian Venthur's Blog</h3>
      <nav>
        <ul>
          <li><a href="/">Blog</a></li>
          <li><a href="/archives.html">Archive</a></li>
          <li><a href="/tags.html">Tags</a></li>
          <li><a href="https://venthur.de/pages/about-me.html">About&nbsp;Me</a></li>
        </ul>
      </nav>
    </header>

    <main>
    {% block content %}
    {% endblock %}
    </main>
  </body>

</html>
