<!DOCTYPE html>

<html>
    <head>
        <title>$title</title>
        <link rel="stylesheet" href="style.css" type="text/css" />
    </head>

    <body>
        <div id="header">
            <div id="header_title">
                <a href="/">Bastian Venthur</a>
            </div>
            <div id="header_tagline">
                Lorem Ipsum
            </div>
        </div>

        <div id="content">
            $content
        </div>

        <div id="footer">
        </div>
    </body>
</html>

