body {
    font-family: "trebuchet ms";
    margin: 0;
}

#content {
    margin-top: 20px;
    margin-bottom: 30px;
    position: relative;
    margin: auto;
    width: 600px;
}

div#header, div#footer {
    background: #AD0404;
    height: 104px;
    width: 940;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
}

div#header_title {
    color: white;
    font-size: 34px;
    background: transparent;
}

div#header_tagline {
    color: white:
    font-size: 14px;
    background: transparent;
}

